html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    height: 100%;
    width: 100%;
}

#horizontal-menu {
    height: 120px;
    background-color: lightcyan;
    justify-content: space-evenly;
    border: 1px solid violet;
}

.item-menu {
    border-radius: 10%;
    cursor: pointer;
}

.item-menu:hover {
    background-color: rgb(45, 155, 155);
}

.button:disabled {
    cursor:default;
    background-color: grey;
}

.progress-item {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}   