@import "tailwindcss";

:root {
  --background: #B2D9C4;
  --foreground: #171717;
  --fc-page-bg-color: #171717;
  --fc-border-color: #000;
  --fc-event-bg-color: #247D7F;
  --fc-event-border-color: #247D7F;
  --button: #247D7F;
  --hover-button: #207172;
}

@theme {
  --color-background: #B2D9C4; 
  --color-button: #247D7F;
  --color-hover-button: #207172;
  --color-menu: #247D7F;
  --color-light-white: #F7FCFE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal {
  background: white;
  padding: 1rem;
  minWidth: 300px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
  background: #247D7F;
  border-radius: 100%;
  cursor: pointer;
  color: #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.close-modal:hover {
  @apply bg-hover-button;
  color: white;
}

.button-submit {
  @apply cursor-pointer;
  @apply bg-button hover:bg-hover-button text-base text-white;
}

.button {
    padding: 10px;
    border: none;
    background-color: #247D7F;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.button:hover {
    background-color: #207172;
}

.register-button {
  padding: 12px;
  font-size: 15px;
}

.delete {
  background-color: #9a9a9a;
}

.delete:hover {
  background-color: #888;
}

.edit-button {
  @apply cursor-pointer;
  @apply hover:text-hover-button text-base text-button;
  @apply p-2 mx-2;
}

.main-icon {
  @apply p-2 rounded-[10px]  ml-4;
}

.form-item {
  @apply bg-gray-200;
}

.main-menu-item {
  @apply cursor-pointer;
  @apply hover:bg-light-white hover:text-menu;
}

.custom-textfield-input {
  @apply bg-light-white rounded;
  width: 100%;
}

.custom-textfield-input fieldset {
  border: 2px solid #4b5563;
}

.custom-textfield-input:hover fieldset {
  border-color: #1f2937;
}

.custom-textfield-input .MuiOutlinedInput-root.Mui-focused fieldset {
  @apply border-button;
}

.custom-textfield-input .MuiPickersInputBase-root.MuiPickersOutlinedInput-root.Mui-focused fieldset {
  @apply border-button;
}

.custom-textfield-input .MuiInputLabel-root.MuiInputLabel-shrink {
  color: #4b5563;
  font-size: 1rem;
}

.custom-textfield-input .MuiInputLabel-root.MuiInputLabel-shrink.Mui-focused {
  @apply text-button;
}

.fc .fc-button,
.fc .fc-button-primary {
  @apply bg-button border-none mx-1 rounded-sm;
}

.fc .fc-button:hover {
  @apply bg-hover-button;
}

.fc .fc-button:disabled {
  @apply bg-button;
}

@layer components {
  .fc .fc-col-header-cell {
    @apply bg-button text-light-white font-semibold;
  }

  .fc .fc-timegrid-slot-label {
    @apply bg-button text-light-white font-semibold;
  }

  .fc .fc-day-today {
    @apply bg-hover-button;
  }

  .fc .fc-timegrid-col.fc-day-today,
  .fc .fc-timegrid-col.fc-day-today .fc-timegrid-col-frame {
    @apply bg-background;
  }
}

.fc .fc-timegrid-slot {
  height: 30px;
}

.fc .fc-timegrid-slot-minor {
  border-top: none;
}

.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0px !important;
}

.MuiPaginationItem-root {
  font-size: 1.25rem !important; 
  color: var(--button) !important;
  background-color: white !important;
  padding: 0 15px !important;
}

.MuiPaginationItem-icon {
  font-size: 1.5rem !important;
}

.Mui-selected {
  background-color: var(--button) !important;
  color: white !important;
}

.MuiPaginationItem-root:hover:not(.Mui-selected) {
  background-color: #eff6ff !important;
}

.MuiDataGrid-columnHeader {
  background-color: var(--color-button) !important;
  color: #fff;
  font-size: 15 !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

.MuiToolbar-root {
  background-color: var(--color-button) !important;
  color: #fff;
  font-size: 15 !important;
}

.MuiTablePagination-displayedRows {
  font-weight: 600 !important;
}

.MuiDataGrid-root .MuiTablePagination-root .MuiIconButton-root svg {
  width: 30px;   /* largura do ícone */
  height: 30px;
  color: #fff; 
}

.MuiDataGrid-root .MuiTablePagination-root .MuiIconButton-root.Mui-disabled svg {
  color: rgba(255, 255, 255, 0.5); /* branca mais clara, "apagada" */
}

.MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus::after,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within::after,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus::after,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within::after {
  border: none !important;
}